In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
df=pd.read_csv("Airbnb_DataFrame_final.csv")
df.head(50)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2970 entries, 0 to 2969
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 2970 non-null   object
 1   City                 2970 non-null   object
 2   Rating               2240 non-null   float64
 3   Price                2872 non-null   object
 4   Reviews              2970 non-null   int64
 5   Location             2189 non-null   float64
 6   Cleanliness          2189 non-null   float64
 7   Communication        2189 non-null   float64
 8   Value for Money      2189 non-null   float64
 9   Accuracy             2189 non-null   float64
 10  Check-in             2189 non-null   float64
 11  Guests               2938 non-null   object
 12  TV                   2970 non-null   int64
 13  Elevator             2970 non-null   int64
 14  Wifi                 2970 non-null   int64
 15  Free street parking  2970 non-null   int64
 16  Privet parking       2970 non-null   int64
 17  Refrigerator         2970 non-null   int64
 18  Air conditioning     2970 non-null   int64
 19  Kitchen              2970 non-null   int64
 20  Pets allowd          2970 non-null   int64
 21  Dedicated workspace  2970 non-null   int64
 22  Security cameras     2970 non-null   int64
dtypes: float64(7), int64(12), object(4)
memory usage: 533.8+ KB

## Remove Dupilcates:

In [3]:
df.drop_duplicates(keep="first",inplace=True)

## drop nan values and more:

In [4]:
# Remove rows with missing values  
df.dropna(axis=0, subset=['Rating', "Location", "Cleanliness","Cleanliness",
                          "Value for Money","Accuracy","Check-in","Price","Guests"], inplace = True)

# Removing the ',' from numbers with more than 3 digits so we will be able to convert to int. 
# from stack overflow
df['Price'] = df['Price'].str.replace(',','')
# Change type of "Price" col
df.astype({'Price':np.int64}).dtypes
# df.astype({'Guests':np.int64}).dtypes
df["Guests"] = pd.to_numeric(df["Guests"], errors='coerce')

In [5]:
df.drop(["Elevator"],inplace=True ,axis=1)
#sort index
df.reset_index(drop=True, inplace=True)
#we saw that we have 3 apartment with 0 Guests and put there the median
df["Guests"]=df["Guests"].replace(0,df["Guests"].median())
df["Guests"].value_counts()

2.0     816
4.0     326
1.0     219
3.0     206
6.0     150
5.0      77
8.0      58
7.0      27
10.0     24
12.0      9
9.0       9
14.0      6
11.0      5
13.0      3
Name: Guests, dtype: int64

In [6]:
df.to_csv(r"Airbnb_DataFrame_After_Cleaning.csv", mode='w', index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1938 entries, 0 to 1937
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 1938 non-null   object
 1   City                 1938 non-null   object
 2   Rating               1938 non-null   float64
 3   Price                1938 non-null   object
 4   Reviews              1938 non-null   int64
 5   Location             1938 non-null   float64
 6   Cleanliness          1938 non-null   float64
 7   Communication        1938 non-null   float64
 8   Value for Money      1938 non-null   float64
 9   Accuracy             1938 non-null   float64
 10  Check-in             1938 non-null   float64
 11  Guests               1935 non-null   float64
 12  TV                   1938 non-null   int64
 13  Wifi                 1938 non-null   int64
 14  Free street parking  1938 non-null   int64
 15  Privet parking       1938 non-null   int64
 16  Refrigerator         1938 non-null   int64
 17  Air conditioning     1938 non-null   int64
 18  Kitchen              1938 non-null   int64
 19  Pets allowd          1938 non-null   int64
 20  Dedicated workspace  1938 non-null   int64
 21  Security cameras     1938 non-null   int64
dtypes: float64(8), int64(11), object(3)
memory usage: 333.2+ KB